<div>
    <ul class="flex list-none">
        <li><%= link_to "All", customers_path %></li>
        <li class="ml-5"><%= link_to "Missing Email", customers_missing_email_path %></li>
    </ul>
</div>

<h1>Customers A-Z</h1>

<div class="flex">
    <% @customers.each do |customer| %>
    <%= render partial: 'customers', locals: {customer: customer} %>
    <% end %>
</div>

