<div>
    <ul class="flex list-none">
        <li><%= link_to "All", customers_path %></li>
        <li class="ml-5"><%= link_to "Alphabetcal", customers_alphabetized_path %></li>
    </ul>
</div>
<h1>Customers Without Email</h1>

<div class="flex">
    <% @customers.each do |customer| %>
    <%= render partial: 'customers', locals: {customer: customer} %>
    <% end %>
</div>

